<title>{{ .Title }}</title>

<!-- META TAGS -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />

{{ $main := resources.Get "css/main.css" }}
<link rel="stylesheet" href="{{ $main.Permalink }}"/>
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6.2.3/themes/light.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-light.min.css">
